%h1 Login

- if error = session.delete(:error)
  %p= error

%form(action='/login' method='post')
  %input(type='text' name='username')
  %input(type='password' name='password')

  %button(type='submit') Login
